<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
    <string>1031635315557-7dq5afjg4tnae09gugg08q95glavd7m2.apps.googleusercontent.com</string>
    <key>REVERSED_CLIENT_ID</key>
    <string>com.googleusercontent.apps.1031635315557-7dq5afjg4tnae09gugg08q95glavd7m2</string>
    <key>ANDROID_CLIENT_ID</key>
    <string>1031635315557-74v8c2vndu29dh7d0t2m1pefc8pe9rrm.apps.googleusercontent.com</string>
    <key>API_KEY</key>
    <string>AIzaSyBQyy4aAyMKZd759XK4RRwNCBl9JGCk990</string>
    <key>GCM_SENDER_ID</key>
    <string>1031635315557</string>
    <key>PLIST_VERSION</key>
    <string>1</string>
    <key>BUNDLE_ID</key>
    <string>com.belltemple.mobilesv5</string>
    <key>PROJECT_ID</key>
    <string>ezofis-v5-mobile</string>
    <key>STORAGE_BUCKET</key>
    <string>ezofis-v5-mobile.appspot.com</string>
    <key>IS_ADS_ENABLED</key>
    <false></false>
    <key>IS_ANALYTICS_ENABLED</key>
    <false></false>
    <key>IS_APPINVITE_ENABLED</key>
    <true></true>
    <key>IS_GCM_ENABLED</key>
    <true></true>
    <key>IS_SIGNIN_ENABLED</key>
    <true></true>
    <key>GOOGLE_APP_ID</key>
    <string>1:1031635315557:ios:777d08a879cd415eab4f8c</string>
</dict>
</plist>
